<nav class="navbar navbar-expand-lg navbar-success bg-success">
    <a class="navbar-brand text-white" href="#"><strong>ONE-PIECE-FLOW-MAKER</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/"><strong>HOME</strong><span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/line"><strong>PRODUCTION LINE</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/tasks"><strong>TASK HULL</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/linebalance"><strong><i> Line Balance</i></strong></a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </nav>