/* Button used to open the contact form - fixed at the bottom of the page */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Roboto:wght@700&display=swap");
body {
  font-family: "Kanit", sans-serif;
}
#body-post {
  background-color: #008000;
}

.container-title-header h2 {
  color: #001d3d;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.container-title-header span {
  color: #008000;
}
.form-container th {
  color: #001d3d;
  font-family: "Roboto", sans-serif;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;

 


  margin-left: auto;
  margin-right: auto;

  /* border: 2px grey solid; */
  /* border-radius: 20px; */
}

/* Add styles to the form container */
.container-header {
  background-color: #555;
  height: fit-content;
  
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}

.container-footer {
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
}

.container-header .btn-close {
  background-color: red;
  opacity: 1;
  margin-right: 10px;
  margin-top: 10px;
}
.container-footer .btn-success {
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  max-height: fit-content;
  max-width: fit-content;
}
.form-container {
  padding-top: 1px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: fff;
  /* border-radius: 20px; */
  color: black;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
/* .form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
} */

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  opacity: 1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 0.75;
}
